<div class="blogpost">
  <h3 class="blogpost__headline"><a href="{{ post.url }}">{{ post.title }}</a></h3>

  <div class="blogpost__meta">
    <span class="author">
      {% if post.user.avatar.path %}
        <img class="author__avatar" src="{{ post.user.avatar.path }}" alt="">
      {% endif %}
      <span class="author__name">{{ post.user.first_name }} {{ post.user.last_name }}</span>  
    </span>
    <time class="blogpost__date" datetime="{{ post.published_at|date('c') }}" class="info">{{ post.published_at|date('d M, Y') }}</time>
  </div>

  <div class="blogpost__thumbnail">
  {% if post.featured_images().first.path %}
  <a href="{{ post.url }}">
    <img data-src="{{ post.featured_images().first.path }}" src="{{ post.featured_images().first.path }}" alt="{{ post.featured_images().firs.description }}" />
  </a>
  {% endif %}
  </div>

  {% if post.excerpt %}
  <p class="excerpt blogpost__excrept">{{ post.excerpt }}</p>
  {% endif %}

  <hr class="blogpost__underline">

  <div class="blogpost__categories">
  {% for category in post.categories %}
  <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
  {% endfor %}
  </div>
</div>