==
<strong class="partners">— Nájdi nás aj na —</strong>

<div class="partners">
  <a class="partner" id="facebook" target="_blank" href="https://www.facebook.com/HalmiCaffe">Facebook</a>
  <a class="partner" id="instagram" target="_blank" href="https://instagram.com/halmicaffe/">Instagram</a>
  <a class="partner" id="forsquare" target="_blank" href="https://foursquare.com/v/halmicaffe/53ea2040498e6b5979504ab2">Forsquare</a>
  <a class="partner" id="youtube" target="_blank" href="https://www.youtube.com/channel/UCWjqw3job6Q-jbrvAJevftw">You Tube</a>
</div>